In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()
os.chdir("E:\Data Science\Capstone Projects\Capstone Project_Health_care_ML")

In [3]:
dataset=pd.read_csv("train Data.csv")
dataset.drop('id',axis=1,inplace=True)
dataset.head(1)

C:\Users\dell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (329,331,333,336,338,344,345,346,348,354,355,356,357,358,361,362,364,367,372,377,380,383,385,387,390,392,399,400,406,408,409,413,416,418,419,431,433,437,438,442,448,449,450,453,457,464,473,478,479,481,483,485,486,489,492,495,496,497,498,499,500,503,507,508,510,511,514,515,517,519,520,521,522,523,524,526,527,530,534,537,538,539,541,544,547,548,549,550,551,557,558,560,564,569,572,573,576,577,579,583,596,597,598,600,601,602,604,605,606,608,609,613,619,620,625,627,628,629,631,632,633,636,641,642,643,645,646,647,648,651,655,661,662,665,668,675,676,679,682,685,687,689,690,691,694,698,701,702,703,706,711,712,713,719,720,721,733,735,737,738,742,746,747,748,749,752,754,755,760,764,768,770,781,782,789,797,807,812,814,817,818,822,823,824,825,832,840,843,844,845,850,853,857,858,861,867,868,873,874,876,877,879,880,881,883,886,890,893,897,899,900,901,902,904,905,908,909,910,912,913,914,915,916,922,923,931,933,935,937,939,942,943,946,951,955,960,964,965,968,969,970,973,974,977,980,987,994,995,996,999,1000,1008,1014,1015,1016,1017,1020,1021,1023,1028,1031,1035,1036,1037,1039,1040,1043,1048,1051,1055,1058,1059,1072,1073,1074,1081,1090,1097,1098,1103,1104,1109,1112,1113,1114,1118,1120,1130,1134,1135,1139,1140,1147,1148,1149,1152,1154,1157,1158,1162,1163,1164,1166,1169,1174,1177,1180,1181,1182,1183,1185,1188,1189,1195,1197,1198,1200,1203,1208,1210,1212,1215,1217,1220,1222,1225,1229,1230,1233,1234,1241,1243,1246,1250,1251,1252,1254,1259,1262,1263,1265,1266,1269,1270,1273,1274,1276,1277,1279,1280,1282,1284,1285,1286,1289,1291,1292,1293,1294,1295,1301,1302,1304,1305,1306,1308,1309,1311,1313,1316,1318,1320,1322,1323,1325,1330,1335,1337,1340,1341,1343,1345,1350,1351,1352,1354,1357,1358,1359,1360,1361,1368,1369,1372,1377) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,release,n_0000,n_0001,n_0002,n_0003,n_0004,n_0005,n_0006,n_0007,n_0008,...,c_1368,c_1369,c_1370,c_1371,c_1372,c_1373,c_1374,c_1375,c_1376,c_1377
0,a,NaN,NaN,0.025449,NaN,NaN,0.368421,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,q,NaN,NaN,NaN

In [4]:
output=pd.read_csv("train labels.csv")
output.drop('id',axis=1,inplace=True)
#type(y_train.service_a)
#type(cols.id)
output.head()

,service_a,service_b,service_c,service_d,service_e,service_f,service_g,service_h,service_i,service_j,service_k,service_l,service_m,service_n
0,1,1,0,0,0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,1,1,0,0,0
2,0,0,0,0,0,0,0,0,0,1,1,0,0,0
3,0,0,0,1,0,0,0,0,0,1,0,1,0,0
4,0,0,0,1,1,0,0,0,0,0,1,1,1,0

In [62]:
#dataset1=dataset.dropna(how='all')--No rows has full nas
#dataset1

In [5]:
col=list(dataset.columns)
numcol = []
catcol = []
ordcol = []
for i in col:
    if list(i)[0] =='n':
        numcol.append(i)
    elif list(i)[0] =='c':
        catcol.append(i)
    elif list(i)[0] =='o' :
        ordcol.append(i)

In [6]:
numcol1=dataset[numcol]
catcol1=dataset[catcol]
ordcol1=dataset[ordcol]
#numcol1.head()--116
#catcol1.head(1)--1050
ordcol1.head(1)--211
#list(col)[0][0]
#text="king"
#list(text)[0]
#type(text)

,o_0116,o_0117,o_0118,o_0119,o_0120,o_0121,o_0122,o_0123,o_0124,o_0125,...,o_0317,o_0318,o_0319,o_0320,o_0321,o_0322,o_0323,o_0324,o_0325,o_0326
0,NaN,NaN,NaN,NaN,211.0,NaN,NaN,NaN,NaN,217.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Filling nas in numerical columns
#numcol1.head(2)
numcol1.fillna(numcol1.median(),inplace=True)
numcol1.isnull().sum().sum()
numcol1.drop('n_0101',axis=1,inplace=True)

0

In [15]:
#Filling nas in Categorical columns
#catcol1[catcol]=catcol1[catcol].fillna(catcol1.mode().iloc[0])
#catcol1.isnull().sum().sum()
catcol1 = catcol1.apply(lambda x:x.fillna(x.value_counts().index[0]))
# Drop the columns which have all the values as nan shown in the below cells.
#catcol1.dtypes
#catcol1.head()
#catcol1.c_0491

0

In [12]:
#Checking if there are any columns with entire missing values..

col1=list(catcol1.columns)
colna=[]
for i in col1:
    if catcol1[i].isnull().sum() ==14644:
        colna.append(i)

colna
#catcol1.isnull().sum().sum()

['c_0491',
 'c_0529',
 'c_0541',
 'c_0708',
 'c_0784',
 'c_0803',
 'c_0848',
 'c_0902',
 'c_1009',
 'c_1230',
 'c_1257',
 'c_1277',
 'c_1332']

In [13]:
catcol1.drop(catcol1[colna],axis=1,inplace=True)

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
#Filling nas in Ordinal columns
ordcol1[ordcol]=ordcol1[ordcol].fillna(ordcol1.mode().iloc[0])
#ordcol1.isnull().sum().sum()

0

In [20]:
data1=dataset.iloc[:,0:1]
data1.head()
#data1.head()()

  release
0       a
1       a
2       a
3       a
4       c

In [22]:
#Join data1, categorical columns, numerical and ordinal
#data1,numcol1,catcol1,ordcol1
cols=data1.join(numcol1,how='outer')
cols=cols.join(catcol1,how='outer')
cols=cols.join(ordcol1,how='outer')
cols.head()
#cols.dtypes
cols['release']=cols['release'].astype('category')

In [25]:
# Convert all the categorical columns to category data type
#cols.dtypes
cols[cols.select_dtypes(['object']).columns] = cols.select_dtypes(['object']).apply(lambda x: x.astype('category'))

In [27]:
#Applying dummies on categorical variables
cols2=pd.get_dummies(cols,drop_first=True)

#cols2.shape

(14644, 5241)

In [23]:
from skmultilearn.problem_transform import ClassifierChain
from skmultilearn.problem_transform import LabelPowerset
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

# initialize classifier chains multi-label classifier
# with a gaussian naive bayes base classifier


#classifier = ClassifierChain(GaussianNB())

In [34]:
X_train, X_test, y_train, y_test = train_test_split(cols2,output, 
                                                    test_size=0.3,
                                                    random_state=0)

In [35]:
classifier = LabelPowerset(GaussianNB())

In [36]:
# train
classifier.fit(X_train,y_train)
#y_train.head()
#y_train.isnull().sum()
#cols.isnull().sum()

LabelPowerset(classifier=GaussianNB(priors=None), require_dense=[True, True])

In [38]:
# predict
predictions1 = classifier.predict(X_test)


#predictions = classifier.predict(X_test)

In [49]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_test,predictions1)

0.06690942193900774

In [50]:
print(classification_report(y_test,predictions1))

             precision    recall  f1-score   support

          0       0.66      0.73      0.70      2067
          1       0.45      0.47      0.46      1461
          2       0.32      0.34      0.33      1169
          3       0.00      0.00      0.00        65
          4       0.03      0.01      0.01       236
          5       0.00      0.00      0.00       117
          6       0.06      0.01      0.02       231
          7       0.40      0.43      0.42      1336
          8       0.00      0.00      0.00        77
          9       0.87      0.83      0.85      3729
         10       0.81      0.75      0.78      3413
         11       0.28      0.17      0.21       493
         12       0.23      0.14      0.18       410
         13       0.25      0.21      0.23       763

avg / total       0.60      0.59      0.59     15567

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

# Accuracy is too less so, drop few columns at first place where there are more nas i.e., 20% nas

In [7]:
dataset2=dataset.drop('release',axis=1)
c=dataset2.columns
t=14644

In [8]:
d=[]
for i in list(c):
    if t - dataset2[i].isnull().sum() <2800 :
        d.append(i)

In [12]:
dataset2.drop(dataset2[d],axis=1,inplace=True)
dataset2.shape

(14644, 348)

In [13]:
col=list(dataset2.columns)
numcol = []
catcol = []
ordcol = []
for i in col:
    if list(i)[0] =='n':
        numcol.append(i)
    elif list(i)[0] =='c':
        catcol.append(i)
    elif list(i)[0] =='o' :
        ordcol.append(i)

In [14]:
numcol1=dataset[numcol]
catcol1=dataset[catcol]
ordcol1=dataset[ordcol]
numcol1.head()#34
#catcol1.head(1)#274
#ordcol1.head(1)#40

,n_0002,n_0005,n_0012,n_0019,n_0028,n_0034,n_0038,n_0039,n_0047,n_0048,...,n_0086,n_0091,n_0095,n_0096,n_0099,n_0100,n_0102,n_0108,n_0109,n_0110
0,0.025449,0.368421,0.292683,0.0,NaN,0.223881,0.193548,NaN,1,NaN,...,0.450,1,NaN,NaN,NaN,0.12,0.242424,0.800000,0.1875,0.009231
1,0.031297,0.315789,0.243902,0.0,NaN,0.104478,0.177419,NaN,1,NaN,...,0.475,1,NaN,NaN,NaN,0.18,0.484848,0.666667,0.1875,0.009231
2,0.024475,0.342105,0.304878,0.0,NaN,0.119403,0.290323,NaN,1,0.818182,...,0.875,1,NaN,NaN,NaN,0.00,0.409091,0.833333,0.1875,0.006154
3,0.041694,0.447368,0.207317,0.0,NaN,0.149254,0.370968,NaN,1,NaN,...,0.650,1,NaN,NaN,0.418605,0.10,0.212121,0.566667,0.1875,0.000000
4,0.038120,0.315789,0.219512,0.0,NaN,0.074627,0.177419,0.3125,1,0.181818,...,0.550,1,0.017857,0.388889,NaN,0.10,0.333333,0.600000,0.2500,0.015385

In [15]:
#Filling nas in numerical columns
#numcol1.head(2)
numcol1.fillna(numcol1.median(),inplace=True)
numcol1.isnull().sum().sum()

C:\Users\dell\Anaconda3\lib\site-packages\pandas\core\generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

0

In [16]:
catcol1 = catcol1.apply(lambda x:x.fillna(x.value_counts().index[0]))
catcol1.isnull().sum().sum()

0

In [17]:
#Filling nas in Ordinal columns
ordcol1[ordcol]=ordcol1[ordcol].fillna(ordcol1.mode().iloc[0])
ordcol1.isnull().sum().sum()

C:\Users\dell\Anaconda3\lib\site-packages\pandas\core\frame.py:2540: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

0

In [18]:
data1=dataset.iloc[:,0:1]
data1.head()
#data1.head()()

  release
0       a
1       a
2       a
3       a
4       c

In [19]:
#Join data1, categorical columns, numerical and ordinal
#data1,numcol1,catcol1,ordcol1
cols=data1.join(numcol1,how='outer')
cols=cols.join(catcol1,how='outer')
cols=cols.join(ordcol1,how='outer')
cols.head()
#cols.dtypes
cols['release']=cols['release'].astype('category')

In [20]:
# Convert all the categorical columns to category data type
#cols.dtypes
cols[cols.select_dtypes(['object']).columns] = cols.select_dtypes(['object']).apply(lambda x: x.astype('category'))

In [21]:
#Applying dummies on categorical variables
cols2=pd.get_dummies(cols,drop_first=True)

cols2.shape

(14644, 1662)

In [24]:
X_train, X_test, y_train, y_test = train_test_split(cols2,output, 
                                                    test_size=0.3,
                                                    random_state=1)

In [90]:
classifier = ClassifierChain(GaussianNB())

In [91]:
classifier.fit(X_train,y_train)

ClassifierChain(classifier=GaussianNB(priors=None),
        require_dense=[True, True])

In [92]:
predictions1 = classifier.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_test,predictions1)

NameError: name 'predictions1' is not defined

In [27]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC

In [29]:
classif = OneVsRestClassifier(SVC(kernel='linear'))

In [ ]:
classif.fit(X_train,y_train)